* {
    padding: 0;
    margin: 0;
}

body {
    transition: 0.5s;
}

.wrapper {
    min-width: 1280px;
    min-height: 480px;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

/* side navbar */

.nav-side {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 100%;
    background: #212121;
}

.nav-side .logo {
    padding: 10px 15px;
}

.nav-side .logo img {
    width: 200px;
    transform: scale(0.8);
    padding-left: auto;
    padding-right: auto;
}

.nav-side .nav-side-item .nav-view {
    margin: 0px 7.5px;
}

.nav-side .nav-side-item .nav-view:hover {
    background: #313131;
}

.nav-side .nav-side-item {
    padding-top: 1rem;
}

.nav-side .nav-side-item .nav-view .nav-item {
    padding: 1rem 1rem;
    list-style-type: none;
}

.nav-side .nav-side-item .nav-view .nav-item .nav-link {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
}

/* end side nav */

/* right-content */

.right-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 225px;
    height: 100%;
    right: 0;
}

.right-content .top-navbar {
    background: #222325;
    min-height: 75px;
    flex-direction: row;
    right: 0;
}

/* start button */


.right-content .top-navbar .button-add {
    position: absolute;
    right: 1rem;
    top: 10px;
}

.right-content .top-navbar .button-add .add {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}

.right-content .top-navbar .button-add .music {
    border-color: #fff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.right-content .top-navbar .button-add .music:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

/* end button */

.right-content .content-data {
    background: #2c3338;
    top: 80px;
    height: 100%;
    display: flex;
    right: 0;
}

/* end right-content */

/* Dashboard */
.right-content .content-data .data_table .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.right-content .content-data .data_table {
    width: 100%;
    padding: 1rem;
}

.right-content .content-data .data_table th {
    text-align: center;
    vertical-align: center;
    height: 3rem;
    color: aliceblue;
}

.right-content .content-data .data_table td{
    height: 1px;
    overflow: hidden;
    text-align: center;
    vertical-align: center;
    color: aliceblue;
}

.right-content .content-data .data_table .row .button-delete button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(100,77,237,0.08);
    border-radius: 1.25em;
    transition: all 0.2s linear;
}

.right-content .content-data .data_table .row .button-delete button:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
}

.right-content .content-data .data_table .row .button-delete .tooltip {
    position: relative;
    display: inline-block;
}

.right-content .content-data .data_table .row .button-delete .tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
}

.right-content .content-data .data_table .row .button-delete .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}
   
.right-content .content-data .data_table .row .button-delete .tooltip:hover .tooltiptext {
    visibility: visible;
}
/* edit button */

.right-content .content-data .data_table .row .button-edit button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(100,77,237,0.08);
    border-radius: 1.25em;
    transition: all 0.2s linear;
}

.right-content .content-data .data_table .row .button-edit button:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
}

.right-content .content-data .data_table .row .button-edit .tooltip {
    position: relative;
    display: inline-block;
}

.right-content .content-data .data_table .row .button-edit .tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
}

.right-content .content-data .data_table .row .button-edit .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}
   
.right-content .content-data .data_table .row .button-edit .tooltip:hover .tooltiptext {
    visibility: visible;
}

/* end edit button */

/* end Dashboard */

/* add */

input, textarea, button {
    font-family: 'Nunito', sans-serif;
  }
  
.wrapper {
    width: 100%;
    height: 100vh;
    color: #fae881;
    overflow:hidden;
}

.flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .box {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 50px;
    transition: 0.2s;
  }
  
  form {
    position: absolute;
    padding: 30px 20px;
    width: 30rem;
    border-radius: 7px;
    background-color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(158, 189, 199, 0.288);
    overflow: hidden;
  }
  
  .input {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    padding: 8px 10px;
    margin: 3px 8px 16px 8px;
    background-color: rgba(222, 239, 248, 0.877);
    border: 0px transparent;
    border-radius: 5px;
    color:rgb(97, 4, 184);
    font-size: 16px;
    word-break: break-all; /* haven't found the best solution here yet, paragraphs are difficult to deal with */
    hyphens: auto;
    z-index: 1;
  }
  
  label {
    margin: 0 8px;
    font-size: 14px;
    color: white;
  }
  
  .button_wrapper {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    padding: 8px 14px;
    margin: 20px 8px 0 0;
    border-width: 0px;
    border-radius: 5px;
    color: white;
    background-color: #b69269;
    transition: 0.3s;
    z-index: 1;
  }
  
  button:hover {
    color: rgb(60, 35, 153);
    background-color: white;
  }

/* end add */