* {
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}

/* side navbar */

.nav-side {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 220px;
    min-height: 100vh;
    background: #212121;
}

.nav-side .logo {
    padding: 10px 15px;
}

.nav-side .logo img {
    width: 200px;
    transform: scale(0.8);
    padding-left: auto;
    padding-right: auto;
}

.nav-side .nav-side-item .nav-view {
    margin: 0px 7.5px;
}

.nav-side .nav-side-item .nav-view:hover {
    background: #313131;
}

.nav-side .nav-side-item {
    padding-top: 1rem;
}

.nav-side .nav-side-item .nav-view .nav-item {
    padding: 1rem 1rem;
    list-style-type: none;
}

.nav-side .nav-side-item .nav-view .nav-item .nav-link {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
}

/* end side nav */

/* right-content */

.right-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 220px;
    right: 0;
    height: 100%;
}

.right-content .top-navbar {
    background: #222325;
    min-height: 75px;
    flex-direction: row;
    width: 100%;
}

/* login button */

.right-content .top-navbar .button-login {
    position: absolute;
    right: 1rem;
    top: 10px;
}

.right-content .top-navbar .button-login .login {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}

.right-content .top-navbar .button-login .in {
    border-color: transparent;
    background-color: #fff;
    color: #000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.right-content .top-navbar .button-login .in:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

/* sign up */

.right-content .top-navbar .button-sign {
    position: absolute;
    right: 12rem;
    top: 10px;
}

.right-content .top-navbar .button-sign .sign {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}

.right-content .top-navbar .button-sign .up {
    border-color: #fff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.right-content .top-navbar .button-sign .up:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.right-content .content-data {
    background: #2c3338;
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    right: 0;
}

/* end right-content */

/* home page */
@media (min-width: 600px) {
    .home .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 900px) {
    .home .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .home .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1450px) {
    .home .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1550px) {
    .home .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

.home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.home .up {
    position: absolute;
    top: 0;
}

.home .down {
    bottom: 0;
    position: absolute;
}

.home .up .grid {
    padding: 10px;
    display: grid;
    grid-gap: 20px 10px;
}

.home .up .grid .card {
    background: #3a3f42;
    max-width: 295px;
    max-height: 295px;
    padding: 10px;
    border-radius: 10px;
}

.home .up .grid .card img {
    max-width: 245px;
    max-height: 245px;
    border-radius: 5px 5px 0 0;
}

.home .up .card:hover {
    background: #454d53;
}

.home .up .card .text-content h5 {
    color: rgb(200, 200, 200);
    font-size: 20px;
    padding: 0;
}

.home .up .card .text-content a {
    color: rgb(200, 200, 200);
    font-size: 15px;
    padding: 5px 0px;
}

/* Playlist songs */

.playlist {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.playlist .cover {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}


.playlist .cover .cover-image {
    margin-top: 5%;
}
.playlist .cover .cover-image img {
    height: 300px;
    width: 400px;
}

/* Player audio */
.player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    padding: 0px 20px;
    bottom: 10;
    right: 0;
    left: 0;
}
.player-controls {
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 33px 90px 11px rgba(147, 84, 103, .6);
}

.song-panel {
    background-color: #fcf8fa;
    border-radius: 15px 15px 0 0;
    position: relative;
    display: flex;
    visibility: hidden;
    height: 0px;
    justify-content: center;
    padding: 0 12px 12px 12px;
    transform: translate3d(0, 100%, 0);
    transition: all 0.75s ease;
    width: 90%;
    z-index: 0;
    box-shadow: 0px 33px 90px 11px rgba(147, 84, 103, .6);
}
.song-panel .song-info {
    display: flex;
    padding-left: 5%;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}
.song-panel .song-info .song-info__title {
    color: #444b59;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.song-panel .song-info .song-info__artist {
    color: #a5a7af;
    font-size: 18px;
    margin-bottom: 10px;
}
.song-panel .song-info .progress {
    background: rgb(233, 219, 219);
    border-radius: 3px;
    cursor: ew-resize;
    display: flex;
    flex: 10;
    flex-basis: 100%;
    max-height: 5px;
    position: relative;
    transition: height 0.3s;
    width: 100%;
}
.song-panel .song-info .progress .progress_filled {
    background: #f84c4c;
    flex: 0;
    flex-basis: 0%;
    width: 50%;
}
/* show panel */
.song-panel.playing {
    height: 125px;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: all 1s ease;
}
button {
    height: 80px;
    width: 80px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #dfdbe0;
    margin: 0 5px;
    border-radius: 15px;
    position: relative;
}
button:hover, button.playing {
    background-color: #e0dee1;
    color: #fff;
}
button.play span.pause {
    background-color: white;
    position: absolute;
    top: 23px;
    height: 34px;
    width: 10px;
    display: block;
    border-radius: 3px;
    opacity: 0;
    transition: all 0.5s ease;
}
button.play span.pause.left {
    left: 0;
}
button.play.playing span.pause.left {
    left: 25px;
    opacity: 1;
    transition: left 0.5s ease, opacity 0.8s ease;
}
button.play span.pause.right {
    right: 0;
}
button.play.playing span.pause.right {
    right: 25px;
    opacity: 1;
    transition: right 0.5s ease, opacity 0.8s ease;
}
button.play i {
    opacity: 1;
    transition: opacity 0.5s ease;
}
button.play.playing i {
    opacity: 0;
    transition: all 0.5s ease;
}
.player-controls {
    position: relative;
}
.player-controls .spinner {
    height: 175px;
    width: 175px;
    position: absolute;
    top: -135px;
    left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-controls .spinner.spin {
    animation: spin 5s linear infinite;
}
.player-controls .spinner .spinner__disc {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    transition: all 1s ease;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-controls .spinner .spinner__disc.scale {
    transform: scale(1.1);
    transition: all 1s ease;
}
.player-controls .spinner .spinner__disc.scale .center__disc {
    color: #e4d6e9;
    transition: all 1s ease;
}
.player-controls .spinner .spinner__disc .center__disc {
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
   }
}